<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <title>notnoted</title>
    
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link href="https://cdn.quilljs.com/1.2.6/quill.snow.css" rel="stylesheet">
    </head>
    
    <body>
        <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
            <a class="navbar-brand" href="/">NN</a>
        
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                {% if user %} 
                    <li class="nav-item">
                            <a class="nav-link" href="/post">Post </a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="/manageposts">Manage Posts </a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="/manageaccount">Manage Account </a>
                    </li>
                    <button id="myBtn" class='btn btn-outline-success ' hidden>Login</button>    
                    
                {% else %} 
                    <button id="myBtn" class='btn btn-outline-success '>Login</button>    
                    
                {% endif %}
                
                </ul>
            </div>
        </nav>
        
        <hr>
        <script src="https://cdn.quilljs.com/1.2.6/quill.min.js"></script>
            {% block content %}
            {% endblock %}
         <!-- jQuery first, then Tether, then Bootstrap JS. -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        
    </body>
</html>