<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <title>notnoted</title>
    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link href= "{{ url_for('static', filename='css/style.css') }}" rel= "stylesheet" type= "text/css" >        
        <link href="{{ url_for('static', filename='css/quill.snow.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/quill.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/image-resize.min.js') }}"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116288404-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-116288404-1');
        </script>
<!-- 
        <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
            <a class="navbar-brand" href="/">NN</a>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                {% if current_user.is_anonymous %}
                    <li class="nav-item"><a class="nav-link" href="/feed">Home </a></li>    
                    <li class="nav-item"><a class="nav-link" href="/login">Login </a></li>    
                    <li class="nav-item"><a class="nav-link" href="/register">Register </a></li>    
                {% else %} 
                    <li class="nav-item"><a class="nav-link" href="/feed">Feed </a></li>    
                    <li class="nav-item"><a class="nav-link" href="/post">Post </a></li>
                    <li class="nav-item"><a class="nav-link" href="/manageposts">Manage Posts </a></li>
                    <li class="nav-item"><a class="nav-link" href="/manageaccount">Manage Account </a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">Logout </a></li>
                {% endif %}
                </ul>
            </div>
        </nav> -->
        <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/">NN</a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if current_user.is_anonymous %}
                    <li class="nav-item"><a class="nav-link" href="/feed">Home </a></li>    
                    
                {% else %} 
                    <li class="nav-item"><a class="nav-link" href="/feed">Home </a></li>    
                    <li class="nav-item"><a class="nav-link" href="/post">Post </a></li>
                    <li class="nav-item"><a class="nav-link" href="/manageposts">Manage Posts </a></li>
                    <!-- <li class="nav-item"><a class="nav-link" href="/manageaccount">Manage Account </a></li> -->
                {% endif %}
            </ul>
            
                {% if current_user.is_anonymous %}
                <form class="form-inline my-2 my-lg-0" action='/login'>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log in</button>
                 {% else %} 
                <form class="form-inline my-2 my-lg-0" action='/logout'>
                    <button class="btn btn-outline-success my-2 my-sm-0 btn-sm" type="submit">Logout</button>
                {% endif %}
                </form>
          </div>
        </nav>

    </head>
    
    <body class="panel panel-default">
        
        <hr>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <br><br>
                    {% for message in messages %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                          {{ message }}
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                    {% endfor %}
                    
                {% endif %}
            {% endwith %}

            {% block content %}
            {% endblock %}
            
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        
    </body>
</html>
