{% extends "base.html" %}

{% block content %}
    <br><br><br><br><br><br>
    <div class="container" >
        <form role="form" action="/search" method="post" class='marg'>
            <div class='marg'>
                {{ search.hidden_tag() }}
                {{ search.search_string(size=12, class_='form-control', placeholder='search') }}
            </div>
            <div class='marg' >
                {{ search.submit(class_='btn btn-outline-success') }}
            </div>
        </form>
    
    </div>
{% endblock %}


